.main_title{
    font-family: Arial;
    text-align: center;
}


.entry{
    font-family: Arial;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: #111111;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.result_label{
    font-family: Arial;
    font-size: 1.5em;
}

.button:hover{
    background-color: #111111;
    color: #FFFFFF;
    transform: translate3d(ease-in-out);
    
    
    
}